<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}">Home</a>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Birthplace</td>
        <td>Birth Date</td>
        <td>Email</td>
        <td></td>
    </tr>
    </thead>
    <tr th:each="user : ${users}">

        <td th:text="${user.username}"></td>
        <td th:text="${user.birthPlace}"></td>
        <td th:text="${user.birthDate}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{'/user/' + ${user.id}}">
                <p>Show</p>
            </a>
        </td>
        <td>
            <a th:href="@{'/user/edit/' + ${user.id}}" >
                <p>Edit</p>
            </a>
        </td>
        <td >
            <form method="post" th:action="@{'/user/delete/' + ${user.id}}">
                <button type="submit">DELETE</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/user/new}">NEW</a>
</body>
</html>